# Visual Studio / Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/
out/

# EF Migrations (opcional si quieres regenerarlas)
**/Migrations/

# Rider settings
*.sln.iml

# NuGet
*.nupkg
*.snupkg
*.nuget.cache

# Archivos sensibles
Magnus.Api/appsettings.json
